/* Listen linksbündig */
li {
  text-align: left;
}

/* Text breiter */
.measure-wide {
    max-width: 700px !important;
}
@media (max-width: 991px) {
    .measure-wide {
        max-width: 90% !important;
    }
}

