/* Listen linksbündig */
li {
  text-align: left;
}

/* Text breiter */
.measure-wide {
    max-width: 800px !important;
}
@media (max-width: 991px) {
    .measure-wide {
        max-width: 90% !important;
    }
}

/* Bilder */
figure {
    max-width: 500px !important;
}
